@import '_variables.less';

/* --- IN-APP LOADING STATE--- */
.loading {
    
    .app--main {
        opacity: 0;
        visibility: hidden;
    }

    .app--spinner {
        opacity: 1;
        visibility: visible;
    }
}

/* --- SEARCH RESULT --- */
.search--list {
	font-size: 0.88888889em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.search--list-result {
	padding: 8px;
}
